* {
margin: 0 auto;
padding: 0;
box-sizing: border-box;
}
img {
max-width: 100%;
}

.debug header{
min-height: 100px;
background-color: aquamarine;
padding: 32px ;
}    

.debug main{
min-height: 1100px;
background-color: lightgray;
}
.row-width{
    width: 1000px;
}
.debug footer{
min-height: 250px;
background-color: goldenrod
}
.row{
    display: flex;
}
.row [class^='col']{
border: 3px dashed black;
padding: 4px;
}
.col-60{
    flex-basis: 60%;
}
.col-20{
    flex-basis: 20%;
}
.container-bg-blue{
background-color: blue;
min-width: 1000px;
height: 400px; 
}
.pink-bg{
    background-color: lightpink;
    height: 200px;
    width: 400px;
}